@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito&display=swap');

#right{
	text-align: right;
}

img {
	width: 180px;
	
}

#btn1, #btn2 {
	font-size: 16px;
	border-radius: 5px;
	width: 180px;
	height: 40px;
	padding-bottom: 4px;
	padding-top: 4px;
}

#btn1 {
	background-color: #D8D8D8;
	color: black;
}

#btn1:hover {
	background-color: #e0dede;	
}

#btn2 {
	background-color: #007bff;
	color: white;
}

#btn2:hover {
  background-color: #248dff;
}

#field {
	width: 250px;
	height: 40px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

body{
	font-family: 'Nunito', sans-serif;
	font-size: 14pt;
}